/full_pipeline_output
/images

/output
/paddle_ocr_html_viz
/paddle_venv

/pdfs_and_imgs_from_s3
/textract_outputs
/to_send(old)
/viz_only_html
/viz_textract_html
/viz_textract_img
/to_send
/common_json_output
/full_output_pipeline_new_imgs_from_s3
/merged_paddle_json_outputs
/new_textract_outputs
/viz_new_textract_json